/* Resets */

a, a:active, a:focus, a:hover, a:visited { text-decoration:none; }

html, body, div, form, h1, h2, h3, h4, h5, h6, a, p, li, button {
    margin: 0;
    padding: 0;
}

/* Font selectors */

a, button, li, h1, h2, h3, h4, h5, h6, input, label, p {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: inherit;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5em;
    font-weight: 400;
}

a, button, li, input, label, p { font-size: 1em; }

/* a, li {
    font-family: inherit;
    line-height: inherit;
    margin: inherit;
} */

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}

p { color: #727272; }

/* p {
    color: #767676;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 10px;
} */

/* Element selectors */

* {
    color: #444;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    position: relative;
}

body, footer, header { background-color: white; }

footer { padding: 35px 0; }
/*
h1 {
    font-size: 36px;
}

h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    line-height: 1.1;
} */

header {
    background: #022b36;
    clip-path: inset(0 0 0 0);
}

header > div { position: fixed; }

html {
    width: 100%;
    height: 100%;
    background-color: white;
}

img { user-select: none; }

main {
    background-color: white;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.14), 0 0 20px rgba(0, 0, 0, 0.26);
}

/* Class selectors */

.align-center { text-align: center; }

.align-right { text-align: right; }

.android {
    width: 90%;
    display: inline-block;
}

.badge {
    background: none;
    display: inline-block;
    font-size: 12px;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    width: 6em;
}

.bar {
    animation: bar 1s linear infinite;
    background-image: linear-gradient(
        -45deg,
        #2196f3 25%,
        #42a5f5 25%,
        #42a5f5 50%,
        #2196f3 50%,
        #2196f3 75%,
        #42a5f5 75%,
        #42a5f5
    );
    background-size: 40px 40px;
    border-radius: 5px 0 0 5px;
    box-shadow: 0px 5px #1976d2;
    height: 20px;
}

.bar-wrapper {
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0px 5px #e0e0e0;
    font-size: 10px;
    line-height: 15px;
    text-align: left;
    width: 100%;
}

.block {
    padding-bottom: 50px;
    padding-top: 50px;
}

.bounce { animation: bounce 1s; }

.button, .button:focus:not(:active) {
    background-color: #2196f3;
    border-radius: 2px;
    color: white;
    display: inline-block;
    font-family: inherit;
    font-weight: 500;
    padding: 14px;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.button:active {
    background-color: #1976D2;
    color: white;
    text-decoration: none;
}

.button:hover:not(:active) {
    background-color: #1976D2;
    color: white;
    text-decoration: none;
}

.card {
    background-color: white;
    border-radius: 2px;
    display: inline-block;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: 12px 0;
    padding: 14px;
    text-align: center;
    transform-style: preserve-3d;
    transition: all .2s ease-in-out;
    width: 100%;
}

.card:hover {
    box-shadow: 0 14px 15px rgba(0, 0, 0, 0.10), 0 10px 10px rgba(0, 0, 0, 0.22);
    transform: scale(1.01);
}

.card-color {
    border-radius: 2px 2px 0 0;
    margin: -14px -14px 14px -14px;
    padding: 16px;
}

.card-color-blue { background-color: #03a9f4; }

.card-color-green { background-color: #4caf50; }

.card-color-indigo { background-color: #3f51b5; }

.card-color-red { background-color: #f44336; }

.card-color-teal { background-color: #009688; }

.card-color-yellow { background-color: #fdd835; }

.card-color-lime { background-color: #cddc39; }

.card-color-blue-gray { background-color: #5f7c89; }

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.center-items {
    align-items: center;
    display: flex;
    justify-content: center;
}

.col-center {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.demo {
    opacity: 0;
    position: absolute;
    z-index: 20;
}

.demo-android { width: 84%; }

.demo-js {
    width: 93%;
    transform: translate(-50%, -46%);
}

.demo-calculator {
    width: 60%;
    transform: translate(-50%, -202%);
}

.demo-wrapper-android {
    width: 65%;
    margin: 0 auto;
    position: relative;
}

.demo-wrapper-js {
    width: 75%;
    margin: 0 auto;
    position: relative;
}

.demo-wrapper-calculator {
    width: 63%;
    margin: 0 auto;
    position: relative;
}

.device {
    margin: 12px 0;
    z-index: 10;
}

.emoji { height: 20px; }

.fill {
    width: 100%;
    height: 100%;
}

.inline { display: inline; }

.labeled-bar {
    width: 100%;
    display: inline-block;
    margin: 0 6px;
    vertical-align: middle;
}

.logo {
    width: 60px;
    margin-right: 16px;
    margin-top: 16px;
    min-height: 80px;
}

.popup {
    background-color: #424242;
    border-radius: 2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.10), 0 3px 3px rgba(0, 0, 0, 0.22);
    display: inline-block;
    left: 0;
    margin: 12px 0;
    opacity: 0;
    padding: 14px;
    position: absolute;
    text-align: center;
    top: 25px;
    transition: all .2s ease-in-out;
    z-index: 10;
}

.popup > p {
    color: white;
    white-space: nowrap;
}

.popup-wrapper { position: relative; }

.popup-wrapper .button:hover ~ .popup {
    opacity: 1;
    top: 35px;
}

.portrait {
    border-radius: 50%; max-width: 256px;
}

.progress {
    margin-left: 20px;
    transform: translateZ(0);
}

.progress-bar { background-color: #0277Bd; }

.remove-margins { margin: 0; }

.row-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scroll-background-small, .scroll-background-large {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    transform-style: preserve-3d;
    transition: all .2s ease-in-out;
}

.scroll-icon {
    width: 2em;
    height: 2em;
    transform-style: preserve-3d;
    transition: all .2s ease-in-out;
    vertical-align: middle;
}

.scroll-wrapper {
    width: 3em;
    height: 3em;
    bottom: 60px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
}

.scroll-wrapper:hover .scroll-background-small {
    opacity: 1;
    transform: scale(2);
    transition: all .3s ease-in-out;
}

.scroll-wrapper:hover .scroll-background-large {
    opacity: 1;
    transform: scale(2.5);
}

.shadow-dark { box-shadow: 0 0 25px rgba(0, 0, 0, 0.14), 0 0 20px rgba(0, 0, 0, 0.26); }

.shadow-dark-text { text-shadow: 0 0 25px rgba(0, 0, 0, 0.28), 0 0 20px rgba(0, 0, 0, 0.52); }

.spacer-horizontal {
    display: inline;
    margin-left: 15px;
}

.spacer-vertical {
    width: 0;
    height: 0;
    margin-top: 30px;
}

.stretch { width: 100%; }

.text-emphasis {
    color: inherit;
    font-family: inherit;
    font-weight: 500;
}

.text-white { color: white; }

.tint { background-color: #f8f8f8; }

.title {
    font-size: 95px;
    font-weight: 500;
}

.video-player {
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

.video-player iframe {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

/* Miscellaneous */

@keyframes bar {
    0% { background-position: 0; }
    100% { background-position: 40px; }
}

@keyframes bounce {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    25% { transform: translateY(-50px); }
    50% { transform: translateY(15px); }
    75% { transform: translateY(-8px); }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1199px) {
    .android { width: 100%; }

    .demo-wrapper-android {
        width: 78%;
        margin: 0 auto;
    }

    .demo-wrapper-js {
        width: 84%;
        margin: 0 auto;
    }

    .demo-wrapper-calculator {
        width: 76%;
        margin: 0 auto;
    }
}

@media (max-width: 991px) {
    .demo-wrapper-android {
        width: 100%;
        margin: 0 auto;
    }

    .demo-wrapper-js {
        width: 100%;
        margin: 0 auto;
    }

    .demo-wrapper-calculator {
        width: 99%;
        margin: 0 auto;
    }

    .title { font-size: 80px; }
}

@media (max-width: 767px) {
    footer p { text-align: center; }

    footer .align-right { text-align: center; }

    .android { width: 50%; }

    .card:hover {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transform: scale(1);
    }

    .container { max-width: 500px; }

    .popup {
        left: 0;
        right: auto;
    }

    .scroll-wrapper {
        width: 2em;
        height: 2em;
        bottom: 40px;
    }

    .slide { opacity: 1; }

    .title { font-size: 58px; }
}

@media (max-width: 543px) {
    .button {
        width: 100%;
        text-align: center;
    }

    .button:hover:not(:active) {
        background-color: #2196f3;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transform: scale(1);
    }

    .popup { display: none; }

    .scroll-background-small, .scroll-background-large { display: none; }
}

@media (max-width: 320px) {
    .title { font-size: 48px; }
}
