* {
    color: #444;
    font-family: 'Roboto', sans-serif;
}

a {
    font-family: inherit;
}

body {
    margin: 0 0;
}

footer hr {
    margin-bottom: 0;
}

footer p {
    margin: 35px 0;
}

h1 {
    font-family: 'Abel', sans-serif;
    margin-bottom: 15px;
    margin-top: 15px;
}

header {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    position: relative;
}

p {
    color: #767676;
    font-size: 16px;
    line-height: 24px;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.badge {
    background: none;
    display: inline-block;
    width: 6em;
}

.block {
    padding-bottom: 50px;
    padding-top: 50px;
}

.button, .button:focus:not(:active) {
    background-color: #eee;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #444;
    display: inline-block;
    font-family: inherit;
    font-weight: bold;
    padding: 12px;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.button:active {
    background-color: #222;
    color: white;
    text-decoration: none;
}

.button:hover:not(:active) {
    background-color: #666;
    color: white;
    text-decoration: none;
}

.center {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
}

.icon {
    color: #444;
    font-size: 24px;
    transition: all .2s ease-in-out;
}

.icon:hover {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.progress {
    margin-left: 20px;
}

.spacer-horizontal {
    display: inline;
    margin-left: 15px;
}

.spacer-vertical {
    margin-top: 30px;
}

.stretch {
    width: 100%;
}

.text-emphasis {
    color: inherit;
    font-family: inherit;
    font-weight: bold;
}

.text-inline {
    display: inline;
}

.title {
    font-size: 60px;
}
