* {
    color: #444;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

a {
    font-family: inherit;
}

body {
    width: 100%;
    height: 100%;
}

footer hr {
    margin-bottom: 0;
}

footer p {
    margin: 35px 0;
}

h1 {
    font-family: 'Abel', sans-serif;
    margin-bottom: 15px;
    margin-top: 15px;
}

header {
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
}

html {
    width: 100%;
    height: 100%;
    background-color: #fafafa;
}

main {
    background-color: white;
}

p {
    color: #767676;
    font-size: 16px;
    line-height: 24px;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.badge {
    background: none;
    display: inline-block;
    width: 6em;
}

.block {
    padding-bottom: 50px;
    padding-top: 50px;
}

.button, .button:focus:not(:active) {
    background-color: #009688;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: white;
    display: inline-block;
    font-family: inherit;
    font-weight: bold;
    padding: 12px;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.button:active {
    background-color: #00897b;
    color: white;
    text-decoration: none;
}

.button:hover:not(:active) {
    background-color: #26a69a;
    color: white;
    text-decoration: none;
}

.card {
    background-color: white;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    display: inline-block;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: 12px 0;
    padding: 16px;
    transition: all .2s ease-in-out;
}

.card:hover {
    box-shadow: 0 14px 15px rgba(0, 0, 0, 0.10), 0 10px 10px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 14px 15px rgba(0, 0, 0, 0.10), 0 10px 10px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0 14px 15px rgba(0, 0, 0, 0.10), 0 10px 10px rgba(0, 0, 0, 0.22);
    transform: scale(1.01);
    -ms-transform: scale(1.01);
    -webkit-transform: scale(1.01);
}

.card-color {
    border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
    margin: -16px -16px 16px -16px;
    padding: 16px;
}

.card-color-blue {
    background-color: #2196f3;
}

.card-color-red {
    background-color: #f44336;
}

.card-color-yellow {
    background-color: #fdd835;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}

.demo {
    margin: 12px 0;
}

.demo-overlay {
    width: 82%;
    height: 82%;
    z-index: 10;
}

.disable-drag * {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.icon-down {
    color: #444;
    font-size: 24px;
    transition: all .2s ease-in-out;
}

.icon-down:hover {
    transform: translate(0, 5px);
    -moz-transform: translate(0, 5px);
    -webkit-transform: translate(0, 5px);
}

.progress {
    margin-left: 20px;
}

.spacer-horizontal {
    display: inline;
    margin-left: 15px;
}

.spacer-vertical {
    margin-top: 30px;
}

.stretch {
    width: 100%;
}

.text-emphasis {
    color: inherit;
    font-family: inherit;
    font-weight: bold;
}

.text-inline {
    display: inline;
}

.text-white {
    color: white;
}

.tint {
    background-color: #fafafa;
}

.title {
    font-size: 60px;
}

@media (max-width: 767px) {
    .card:hover {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
    }
}

@media (max-width: 544px) {
    .button {
        width: 100%;
    }
}