* {
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: relative;
    right: 0;
    text-align: left;
    top: 0;
}

h1 {
    font-size: 36px;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6, p {
    color: #767676;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

hr {
    border: 1px solid #ddd;
    margin: 24px;
}

html {
    background-color: #fafafa;
    text-align: center;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;

}

p {
    font-size: 16px;
    line-height: 24px;
}

.background {
    position: fixed;
}

.card {
    animation: bounce 1s;
    -moz-animation: bounce 1s;
    -webkit-animation: bounce 1s;
    background-color: white;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: 12px;
    padding: 24px;
    text-align: center;
}

.center {
    align-items: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -webkit-box-align: center;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.fill-screen {
    width: 100%;
    height: 100%;
}

.icon {
    height: 3em;
    max-width: 3.2em;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.icon:hover {
    transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.portrait {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.spacer-horizontal {
    width: 0;
    height: 0;
    display: inline;
    margin: 0 8px;
}

@keyframes bounce{
    0% {
        opacity: 0;
        transform: translateY(200px);
        -moz-transform:translateY(200px);
        -ms-transform: translateY(200px);
        -webkit-transform: translateY(200px);
    }
    25% {
        transform: translateY(-50px);
        -moz-transform:translateY(-50px);
        -ms-transform: translateY(-50px);
        -webkit-transform: translateY(-50px);
    }
    50% {
        transform: translateY(15px);
        -moz-transform:translateY(15px);
        -ms-transform: translateY(15px);
        -webkit-transform: translateY(15px);
    }
    75% {
        transform: translateY(-8px);
        -moz-transform:translateY(-8px);
        -ms-transform: translateY(-8px);
        -webkit-transform: translateY(-8px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        -moz-transform:translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
    }
}

@media screen and (max-width: 500px), screen and (max-height: 280px) {
    html {
        background-color: white;
    }

    .background {
        display: none;
    }

    .card {
        border-radius: inherit;
        -moz-border-radius: inherit;
        -webkit-border-radius: inherit;
        box-shadow: inherit;
        -moz-box-shadow: inherit;
        -webkit-box-shadow: inherit;
        margin: 0 auto;
        padding: 18px;
    }

    .center {
        display: inline-block;
    }

    .fill-screen {
        width: inherit;
        height: inherit;
        max-height: 100%;
        max-width: 100%;
    }

    .spacer-horizontal {
        margin: 0 4px;
    }
}